@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --fonte: "Montserrat", sans-serif;

    --background: linear-gradient(236.85deg, #041832 -3.74%, #3468A7 96.03%);
    --background-header: #3F403E;
    --background-icone: #fefffb;
    --background-conhecimento: #333333;
    --background-titulo: #000000;
    --background-botao: #333333;

    --background-degrade-1: #00000000;
    --background-degrade-2: #003060;
    --background-degrade-3: #e4e6e1;

    --borda-foto: #007eff;
    --borda-conhecimento-item: #e4e6e19d;
    --borda-link: var(--cor-link);
    --borda-projetos: #fefffb;
    
    --sombra-botao--hover: #007eff;
    --sombra-titulo: #007eff;

    --cor-titulo: #ffffff;
    --cor-titulo-principal: #007eff;
    --cor-subtitulo: #8899a6;
    --cor-texto-padrao: #fefffb;
    --cor-strong: #8899a6;
    --cor-link: #fefffb;
    --cor-link--hover: #007eff;
    --cor-link-projeto: #007eff;
    --cor-link-projeto--hover: #fefffb;

    --cor-conhecimento-subtitulo: #e4e6e1;
    --cor-projeto-descricao: #fefffb;
}

.light-mode{
    --background: #cdcdcd;
    --background-header: #fefffb;
    --background-conhecimento: #e1e1e1;
    --background-titulo: #3F403E;

    --borda-conhecimento-item: #0000009d;
    --borda-projetos: #000000;
    
    --cor-link--hover: #fefffb;
    --cor-subtitulo: #3F403E;
    --cor-texto-padrao: #3F403E;
    --cor-strong: #3F403E;

    --cor-conhecimento-subtitulo: #000000;
    --cor-projeto-descricao: #e4e6e1;
}

html{
    font-size: 10px;
    font-family: var(--fonte);
    scroll-behavior: smooth;
}

body {
    background: var(--background);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo--geral{
    margin: 0 auto;
}

/* PRE-SET */

.titulo{
    display: inline-block;
    padding: 0.3em;
    margin-bottom: 1em;
    color: var(--cor-titulo);
    background: var(--background-titulo);
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px var(--sombra-titulo);
}

.titulo--principal{
    margin-bottom: 1.5em;
    color: var(--cor-titulo-principal);
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 1px var(--cor-titulo-principal);
}

.titulo--principal::before{
    content: "- ";
}

.titulo--principal::after{
    content: " -";
}

.subtitulo{
    display: inline-block;
    margin-top: 3em;
    color: var(--cor-subtitulo);
    font-size: 1.9em;
    font-weight: bold;
}

.texto--padrao{
    margin-top: 0.25em;
    line-height: 1.25em;
    color: var(--cor-texto-padrao);
    font-size: 1.8em;
}

.texto--strong{
    font-weight: bold;
    color: var(--cor-strong);
}

a{
    display: inline-block;
    color: var(--cor-link);
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    transition: 0.25s;
}

a:hover{
    transform: scale(0.9);
}
