header{
    position: fixed;
    width: 100%;
    top: -220px;
    font-size: 1rem;
    transition: 0.4s;
}

.header--ativo{
    top: 0;
}

.cabecalho{
    padding: 2em 0;
    backdrop-filter: blur(1em);
    box-shadow: 0 0 30px -10px #000;
    box-sizing: border-box;
}

.cabecalho__menu{
    margin-top: 1em;
    text-align: center;
}

.cabecalho__link{
    width: 95%;
    padding: .5em 0;
    margin: .3em 0;
    text-align: center;
    border: 2px solid var(--borda-link);
    border-radius: 5px;
}

.cabecalho__social{
    display: flex;
    width: 14em;
    margin: 3em 0 1em;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.cabecalho__social-item{
    padding: 5px;
    border-radius: 5px;
    font-size: 1.3em;
    transition: 0.25s;
    background: var(--background-header);
}

.cabecalho__social-link:hover{
    box-shadow: 2px 2px var(--cor-link--hover);
}

.botao-menu{
    padding: 2em 0 0 2em;
    margin: 0;
    border: none;
    background: none;
    opacity: 0.5;
}

.botao-menu i{
    color: var(--cor-link);
    font-size: 1.8em;
}