.conhecimento{
    padding: 10em 3em;
    font-size: 1rem;
    backdrop-filter: contrast(.85);
}

.conhecimento__item {
    margin-top: 10em;
}

.conhecimento__item:first-child{
    margin-top: 0;
}

.conhecimento__item li{
    padding-bottom: 4em;
    border-bottom: 1px dotted var(--borda-conhecimento-item);
}

.conhecimento__item li:last-child {
    padding: 0;
    border: none;
}

.conhecimento__item .titulo{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.conhecimento__item .subtitulo{
    color: var(--cor-conhecimento-subtitulo);
    margin: 2em 0 1em;
}