@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --fonte: "Montserrat", sans-serif;

    --background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
    --background-header: #333333;
    --background-icone: #fefffb;
    --background-conhecimento: #333333;
    --background-titulo: #000000;
    --background-botao: #000000;
    --background-botao--hover: #007eff;

    --background-degrade-1: #00000000;
    --background-degrade-2: #3F403E;
    --background-degrade-3: #e4e6e1;

    --borda-foto: #007eff;
    --borda-link: #fefffb;
    --borda-projetos: #fefffb;

    --sombra-titulo: #007eff;

    --cor-titulo: #ffffff;
    --cor-titulo-principal: #007eff;
    --cor-subtitulo: #8899a6;
    --cor-texto-padrao: #fefffb;
    --cor-strong: #8899a6;
    --cor-link: #fefffb;
    --cor-link--hover: #007eff;
    --cor-link-projeto: #007eff;
    --cor-link-projeto--hover: #fefffb;

    --cor-conhecimento-subtitulo: #e4e6e1;
    --cor-projeto-descricao: #fefffb;
}

.light-mode{
    --background: #cdcdcd;
    --background-header: #4d4d4d;
    --background-conhecimento: #e1e1e1;
    --background-titulo: #3F403E;
    --background-botao: #102226;

    --borda-link: #fefffb;
    --borda-projetos: #000000;
    
    --cor-subtitulo: #3F403E;
    --cor-texto-padrao: #3F403E;
    --cor-strong: #3F403E;

    --cor-conhecimento-subtitulo: #000000;
    --cor-projeto-descricao: #e4e6e1;
}

html{
    font-size: 10px;
    font-family: var(--fonte);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo--geral{
    margin: 0 auto;
}

/* PRE-SET */

.titulo{
    display: inline-block;
    padding: 0.3em;
    margin-bottom: 1em;
    color: var(--cor-titulo);
    background: var(--background-titulo);
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px var(--sombra-titulo);
}

.titulo--principal{
    margin-bottom: 1.5em;
    color: var(--cor-titulo-principal);
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 1px var(--cor-titulo-principal);
}

.titulo--principal::before{
    content: "- ";
}

.titulo--principal::after{
    content: " -";
}

.subtitulo{
    display: inline-block;
    margin-top: 3em;
    color: var(--cor-subtitulo);
    border-bottom: 1px solid var(--cor-conhecimento-subtitulo);
    font-size: 1.9em;
    font-weight: bold;
}

.texto--padrao{
    margin-top: 0.25em;
    line-height: 1.25em;
    color: var(--cor-texto-padrao);
    font-size: 1.8em;
}

.texto--strong{
    font-weight: bold;
    color: var(--cor-strong);
}

a{
    display: inline-block;
    color: var(--cor-link);
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    transition: 0.25s;
}

a:hover{
    text-shadow: 2px 2px var(--cor-link--hover);
}

/* CABECALHO */

header{
    padding: 2em 0;
    font-size: 1rem;
    background: var(--background-header);
    box-shadow: 0 0 15px 5px #000;
}

.cabecalho__menu{
    margin-top: 1em;
    text-align: center;
}

.cabecalho__link{
    width: 95%;
    padding: .5em 0;
    margin: .3em 0;
    text-align: center;
    border: 2px solid var(--borda-link);
    border-radius: 5px;
}

.cabecalho__social{
    display: flex;
    width: 14em;
    margin: 3em 0 1em;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.cabecalho__social a{
    height: 0;
}

.cabecalho__icone{
    width: 30px;
    height: 30px;
    background-color: var(--background-icone);
    border-radius: 5px;
    transition: 0.25s;
}

.cabecalho__icone:hover{
    box-shadow: 2px 2px var(--cor-link--hover);
}

.cabecalho__social img{
    width: 25px;
    height: 25px;
    margin: 2.5px;
}

/* MAIN */

/* APRESENTAÇÃO */

#apresentacao{
    padding: 10em 3em;
    background: var(--background);
    font-size: 1rem;
}

#apresentacao .subtitulo{
    display: block;
    border: none;
}

.apresentacao__foto{
    width: 200px;
    border-radius: 200px;
    align-self: center;
    box-shadow: 0 0 1px 3px var(--borda-foto);
}

.apresentacao__conteudo{
    margin-top: 6em;
    text-align: center;
}

.apresentacao__nome{
    color: var(--cor-texto-padrao);
    font-size: 3.2em;
    font-weight: bold;
}

.apresentacao__cargo{
    margin-top: .5em;
}

.apresentacao__sobre-titulo{
    margin-top: 3.5em;
}

.apresentacao__sobre-texto{
    margin-top: 1.5em;
    line-height: 1.5em;
    text-align: center;
}

.texto--citacao{
    margin-top: 5em;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

/* CONHECIMENTO */

.conhecimento{
    padding: 10em 3em;
    font-size: 1rem;
    background-color: var(--background-conhecimento);
}

.conhecimento .conhecimento__item:first-child{
    margin-top: 0;
}

.conhecimento__item{
    margin-top: 10em;
}

.conhecimento__item .titulo{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.conhecimento__item .subtitulo{
    color: var(--cor-conhecimento-subtitulo);
    margin: 2.5em 0 .7em;
}

/* PROJETOS */

#projetos{
    padding: 10em 0;
    background: var(--background);
    font-size: 1rem;
}

#projetos .subtitulo{
    border: none;
}

.projetos__separacao{
    padding: 3em;
    margin: 2em 0 8em;
    background: linear-gradient(140deg, var(--background-degrade-1), var(--background-degrade-2) 60%, var(--background-degrade-3) 50%);
    border-radius: 10px;
}

#projetos .projetos__separacao:last-child{
    margin-bottom: 0;
}

.projetos__descricao{
    margin-top: 3em;
    color: var(--cor-projeto-descricao);
}

.projetos__separacao .subtitulo{
    color: var(--cor-titulo);
}

.projetos__linguagem{
    margin-top: 1.5em;
}

.projetos__icone{
    display: inline-block;
    width: 5em;
    margin-right: 1em;
}

.projetos__previa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
}

.projetos__previa-imagem{
    width: 100%;
    border-radius: 5px;
}

.projetos__previa-links{
    display: flex;
    width: 100%;
    margin-top: 3em;
    justify-content: space-evenly;
}

.projetos__previa-links a{
    color: var(--cor-link-projeto);
}

.projetos__previa-links a:hover{
    text-shadow: 2px 2px var(--cor-link-projeto--hover);
}

/* RODAPÉ */

.footer__lightmode{
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: var(--background-botao);
    text-align: center;
    border: none;
    border-radius: 50px;
    opacity: 0.5;
    transition: 0.5s;
}

.footer__lightmode--ativo{
    background-color: var(--background-botao);
}

.footer__voltar-topo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: var(--background-botao);
    text-align: center;
    border-radius: 50px;
    opacity: 0.5;
    transition: 0.5s;
}

.footer__lightmode:hover, .footer__voltar-topo:hover{
    opacity: 1;
    background-color: var(--background-botao--hover);
}

.footer__lightmode img{
    width: 30px;
}

.footer__voltar-topo img{
    width: 26px;
}

/* RESPONSIVO */

@media screen and (min-width: 768px){
    nav{
        width: auto;
    }

    .cabecalho{
        max-width: 1160px;
        padding: 0 2em;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__menu, .cabecalho__link, .cabecalho__social{
        margin: 0;
    }

    .cabecalho__menu li{
        display: inline-block;
        width: auto;
        margin-right: 2.5em;
    }

    .cabecalho__link{
        padding: 0;
        border: none;
    }
    
    /*  */

    .conhecimento{
        padding-top: 0;
    }

    .conhecimento .conteudo--geral{
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    .conhecimento__item{
        width: 40%;
    }

    /*  */

    .projetos__previa-imagem{
        width: 90%;
    }
}

@media screen and (min-width: 1024px){
    main{
        margin: 0 auto;
    }

    .conteudo--geral{
        width: 940px;
    }

    #apresentacao, .conhecimento{
        padding-left: 0;
        padding-right: 0;
    }

    /*  */

    .conhecimento{
        justify-content: space-between;
    }

    .conhecimento .conteudo--geral{
        justify-content: space-between;
    }

    .conhecimento__conteudo{
        width: 940px;
    }

    .conhecimento__item{
        width: 28%;
    }

    /*  */

    .projetos__descricao, .projetos__previa-links{
        margin: 0;
    }

    .projetos__titulo-principal{
        margin-left: 0;
    }

    .projetos__separacao{
        flex-direction: row;
        justify-content: space-between;
    }

    .projetos__conteudo{
        width: 48%;
    }

    .projetos__conteudo .subtitulo{
        margin-top: 9em;
    }

    .projetos__previa{
        width: 50%;
    }
}